html {
  color: white;
  font-family: 'Jost', sans-serif;
  background-color: #16161d;
}

body header {
  font-size: 1em;
  padding: 2em;
  text-align: center;
  letter-spacing: 1em;
  background-image: url('images/campo.png');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  box-shadow: inset 0px 0px 5px 5px #16161d; /* Standard */
  transition: font-size 0.5s;
}

h1 {
  letter-spacing: 0.5em;
  transition: 0.5s;
}

.cabras {
  background-image: url("images/cabras.png");
  box-shadow: inset 0px 0px 5px 5px #16161d; /* Standard */
  width: 532px;
  height: 332px;
  background-size: cover;
  float: left;
  margin-right: 1em;
}

body header:hover {
  font-size: 1.5em;
}

body subheader{
    display: block;
    padding: 1em;
    text-align: center;
    align-items: stretch;
}

subheader a {
  transition: font-size 0.5s;
  padding-left: 6em;
  padding-right: 6em;
}
subheader a:hover{
  font-size: 1.2em;
}

body div {
  padding: 1em;
  vertical-align: middle;
}

body > div > img {
  width: 30%;
}

a {
  padding-bottom: 1em;
  color: inherit;
  text-decoration: none;
}

main {
  text-align: center;
  padding: 1em;
}

#logo {
  padding: inherit;
  height: 200px;
  width: 200px;
}

#glam_d1 {
  background-image: url("images/daniel-guitarra.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  width: 532px;
  height: 332px;
  box-shadow: inset 0px 0px 5px 5px #16161d; /* Standard */
  float: left;
  margin-right: 5em;
}

#glam_j1 {
  background-image: url("images/joao-focado.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  width: 532px;
  height: 332px;
  box-shadow: inset 0px 0px 5px 5px #16161d; /* Standard */
  float: left;
  margin-right: 5em;
}

#glam_m1 {
  background-image: url("images/mateus-bateria.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  width: 532px;
  height: 332px;
  box-shadow: inset 0px 0px 5px 5px #16161d; /* Standard */
  float: left;
  margin-right: 5em;
}

#biografia {
  text-align: justify;
	width: 72em;
  line-height: 1.5em;
}

.fix {
  clear:both;
}

section {
  text-align: center;
  position: relative;
  max-height: 608px;
  width:100%;
  display: table;
}
section a{
  width:30%;
  height: 600px;
  display: table-cell;
  vertical-align: middle;
  box-shadow: inset 0px 0px 5px 5px #16161d; /* Standard */
  transition: font-size 0.5s, width 0.5s;
}

section a:hover{
  font-size: 1.2em;
  width:33%;
}

iframe {
  padding: 1em;
}

#entrevistas img{
  padding: 1em;
  display: block;
  text-align: center;
  width: 100%;
  box-shadow: inset 0px 0px 5px 5px #16161d; /* Standard */
}
#daniel {
  background-image: url("images/barco.png");
  background-repeat: no-repeat;
  background-position: -550px 0px;
}

#joao {
  background-image: url("images/árvores.png");
  background-repeat: no-repeat;
  background-position: -340px -100px;
}

#mateus {
  background-image: url("images/fábrica.png");
  background-repeat: no-repeat;
  background-position: -135px -100px;
}

body footer {
  font-size: 1em;
  padding: 1em;
  text-align: center;
  background-image: url('images/pântano.png');
  background-position: bottom;
  background-size: cover;
  background-repeat: no-repeat;
  box-shadow: inset 0px 0px 5px 5px #16161d; /* Standard */
  transition: font-size 0.5s;
}


footer a {
  padding: 2em;
}

footer img {
  filter: grayscale(60%) blur(1px);
  height: 32px;
  width: 32px;
  transition: filter 0.5s, height 0.5s, width 0.5s;
}

footer img:hover {
  filter: none;
  height: 40px;
  width: 40px;
}

#copyright{
  font-size: 0.7em;
  text-align: center;
}
